
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

/* header section */
.share-img{
  position: absolute;
  top: 3%;
  left: 75%;
}

.share-img2{

  display: none;
  justify-content: flex-end;
  margin: 20px;
  margin-right: 25rem;
}

.header-img{
  display: flex;
  justify-content: center;
}

#profile__img{
  width: 88px;
  height: 88px;
  margin: 20px;
}

#twitter{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 20px 0px 30px 0px;
}

/* header section */



/* Links section */
.App-link{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.App-link a{
  font-weight: 500;
  font-style: normal;
  color: #101828;
  size: 18px;
  line-height: 28px;
}
.App-link a button {
  background-color: #EAECF0;
  height: 76px;
  width: 80%;
  padding: 24px 32px;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  margin: 8px;
}

.App-link a button:hover{
  cursor:pointer;
  background-color:#D0D5DD;
}

.social-icons{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 0px 60px 0px;
}

.social-icons img{
  padding: 10px;
}

hr{
  margin: 0rem 5rem;
}
/* Links section */


/* footer section */

.footer-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem;
}


/* footer section */

