.contact_container{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px;
}

.contact_sty{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #101828;
    padding: 10px 0px;
}

.hi_sty{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 10px;
}


label{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.top_label{
    display: flex;
    justify-content: space-between;
}

#last_name, #first_name{
    padding: 10px 14px ;
    max-width: 100%;
    width: 17rem;
    padding: 10px 14px ;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    margin-bottom: 20px;
}

#last_name::placeholder, #first_name::placeholder, #email::placeholder, textarea::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


#email{
    max-width: 100%;
    width: 36rem;
    padding: 10px 14px ;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    margin-bottom: 20px;
}

textarea {
    padding: 10px 14px ;
    max-width: 100%;
    width: 36rem;
    height: 132px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    margin-bottom: 20px;
}

.textarea_label{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
}


#btn__submit{
    background-color: #1570EF;
    border: 1px solid #1570EF;
    width: 36rem;
    border-radius: 8px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 10px auto;
}

#btn__submit:hover{
    cursor: pointer;
    background-color: #5996ec;
    border: 1px solid #5996ec;
}



/* Media Query */

@media screen and (max-width:768px){
    .contact_container{
        margin: 10px;
    }

    .top_label{
        display: block;
        justify-content: center;
    }

    #last_name, #first_name, #email, textarea{
        width: 95%;
    }
}